body {
    background-color: rgb(220, 220, 230);
    font-family: arial, sans-serif;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input, .form-control select, .form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control select {
    width: 100%;
}

.form-control input[type="radio"], .form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.text-danger {
    color: rgb(255, 0, 0)
}

.text-center {
    text-align: center;
}

.disable {
    color: #777;
    margin-bottom: 30px;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 31, 31);
    border-radius: 2px;
    color: rgb(220, 220, 230);
    font-family: inherit;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}